@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

html {
    font-family: 'Nanum Gothic Coding';
    background-color: black;
    color: white;
    max-width: 700px;
    margin: auto;
}
nav {
    text-align: right;
}
.current {
    color: green;
}
Pre,code {
    font-family: sudo; 
}