<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{ page.title | downcase }}</title>
        <style>
            Pre,code{ font-family: sudo; }
        </style>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        {% include navigation.html %}
        <hr>
        {{ content }}
        <hr>
        {% include footer.html %}
    </body>
</html>
